flask>=2.0.0
flask-socketio>=5.0.0
flappy-bird-gymnasium>=0.4.0
gymnasium>=1.1.0
# gymnasium>=0.29.0
numpy>=1.22.0
eventlet>=0.33.0  # For production Socket.IO
python-engineio>=4.0.0
python-socketio>=5.0.0